@charset "utf-8";
/* CSS Document */

/*Media Queries SCREEN >=370px AND <=674px - MOVEL SCREEN*/	

/*Icon B_PREV and B_NEXT*/
	#b_prev{
		position:fixed !important;
		bottom:80px;
		left:35%;
	}
	#b_next{
		position:fixed !important;
		bottom:80px;
		left:55%;
	}
	#b_prev:hover{
		 background-image: url('../imagens/b_prev_blue.gif');
	}
	#b_next:hover{
		 background-image: url('../imagens/b_next_blue.gif');
	}
	
/*Media Queries SCREEN <370px - SUPER MOVEL SCREEN*/
	
	/*footer icon*/
	#footer_icon{
		position: fixed !important; 
		bottom: 70px; 	
		background:#e3e2e2;
		z-index:10;
		height:60px;
		width:100%;
		margin-right:18px;
	}
	/*Icon B_PREV and B_NEXT*/
	#b_prev{
		position:fixed !important;
		bottom:80px;
		left:35%;
	}
	#b_next{
		position:fixed !important;
		bottom:80px;
		left:55%;
	}
	#b_prev:hover{
		 background-image: url('../imagens/b_prev_blue.gif');
	}
	#b_next:hover{
		 background-image: url('../imagens/b_next_blue.gif');
	}